<html>
<head>
    <title> Miller's Portfolio </title>
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="style.css">    
</head>

<body id="index">
        <div id="header">
            Welcome to  <%= person.firstName %> <%= person.lastName %>'s Portfolio!
            <button><a href="http://localhost:8080/contact">Contact Me!</a></button>
        </div>
</body>

</html>