<html>
        <head>
          <title> Miller Thanks You </title>
          <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
          <link rel="stylesheet" href="style.css">    
        </head>
        <body id="thanks">
          <div id='header'>
            Thank you <%= contact.firstName %> <%= contact.lastName %>.
          </div>
        </body>
      </html>